<p id="notice"><%= notice %></p>

<p>
  <span class="decent">Current Question ID: <%= @question.id %></span>
  <h4 class="lead" data-id="<%= @question.id %>"><%= @question.poke %></h4>
  <% if @question.condition %>
  <p>under the following conditions:</p>
  <p><%= simple_format(@question.condition) %></p>
  <% end %>
</p>


<!--% link_to 'Edit', edit_question_path(@question) %-->

<div>
	<p class="text-info">Users now answer the question being displayed.</p>
</div>

<%= render partial: 'get_nofa', layout: false %>
<!--p>Number of answers: <span id="nofa"><%= @active_question_count %></span></p-->



<%= link_to 'Show graph', graphs_path,    class: 'btn btn-default'  %>
<%= link_to 'Questions',  questions_path, class: 'btn btn-default'  %>
