<p id="notice"><%= notice %></p>

<p>
  <span class="decent">Current Question ID: <%= @question.id %></span>
  <h4 data-id="<%= @question.id %>"><%= @question.poke %></h4>
</p>


<!--% link_to 'Edit', edit_question_path(@question) %-->

<div>
	<p class="text-info">Users now may answer the question displayed.</p>
</div>

<%= render partial: 'get_nofa', layout: false %>
<!--p>Number of answers: <span id="nofa"><%= @active_question_count %></span></p-->



<%= link_to 'Show graph', graphs_path,    class: 'btn btn-default'  %>
<%= link_to 'Questions',  questions_path, class: 'btn btn-default'  %>
