<p id="notice"><%= notice %></p>

<%= high_chart("chart2", @chart2) %>


<table class="table table-bordered">
	<tr>
		<td id='tdyes'> Yes votes: <%= @answer_count[:t_answers] %> </td>
		<td id='tdno'>  No votes : <%= @answer_count[:f_answers] %> </td>
		<td id='tdabs'> Abstentions: <%= @answer_count[:e_answers] %> </td>
	</tr>
	<tr>
		<td> Valid votes :  <%= @total_valid %> </td>
		<td> Simple majority :  <%= @einfaches_mehr %> </td>
	</tr>
	<tr>
		<td> Total Answers :  <%= @answer_count[:total] %> </p>
		<td> Absolute majority :  <%= @absolutes_mehr %> </td>
	</tr>
</table>



<!--div id="chart2"></div-->

<!--%= link_to 'Edit', edit_question_path(@question), :class => 'btn btn-mini'  %-->
<%= link_to 'Questions Overview', questions_path,   :class => 'btn'  %>
<p class="spacer-medium"/>


<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  Show Remarks
</button>

<div id="demo" class="collapse">
	<% @remarks.each do |remark| %>
		<p><%= remark %></p>
	<% end %>
</div>

