<%= form_for(@inquiry) do |f| %>

<input type="hidden" name="question_id" value="<%= @question.id %>">

<!--%= f.hidden_field(:question_id, @question_id) %-->

<h4><%= @question.poke %></h4>
<!--h4>Frage <%= @question.id %>: <%= @question.poke %></h4-->
<!--%= f.label :answer %-->



  <!--div class="btn-group btn-group-lg" data-toggle="buttons-radio">
    <label for="first" class="btn  btn-default btn-lg">
      <input id="first" name="inquiry[answer]" type="radio" value="yes" />YES
    </label>

    <label for="second" class="btn  btn-default btn-lg">
      <input id="second" name="inquiry[answer]" type="radio" value="abstention" />ABS
    </label>

    <label for="third" class="btn  btn-default btn-lg">
      <input id="third" name="inquiry[answer]" style="display:none;" type="radio" value="no" />NO
    </label>
  </div-->

<!--div class="btn-group input-group" data-toggle="buttons">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div-->


<div class="btn-group" data-toggle="buttons">
  <label for="first" class="btn btn-default btn-lg">
    <input type="radio" name="inquiry[answer]" id="first" value="yes" > YES
  </label>
  <label for="second" class="btn btn-default btn-lg">
    <input type="radio" name="inquiry[answer]" id="second" value="abstention" > ABS
  </label>
  <label for="third" class="btn btn-default btn-lg">
    <input type="radio" name="inquiry[answer]" id="third" value="no" > NO
  </label>
</div>



<br/><br/>

  <div class="field">
    <%= f.label :remark %>
    <%= f.text_field :remark, class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit 'Vote', class: 'btn btn-default btn-lg' %>
  </div>

  <div id="error_invisible">
    <% if @inquiry.errors.any? %>
        <!--% @inquiry.errors.full_messages.each do |msg| %-->
          <%= flash[:error] = 'Please make a choice!' %>
        <!--% end %-->
    <% end %>
  </div>


<% end %>  <!--   FORM END -->
  
<!--p>Session: <%= session[:current_user_id] %></p-->
