<%= form_for(@inquiry) do |f| %>


<h4><%= @question.poke %></h4>
<!--h4>Frage <%= @question.id %>: <%= @question.poke %></h4-->
<!--%= f.label :answer %-->



  <div class="btn-group btn-group-large" data-toggle="buttons-radio">
    <!--%= f.radio_button :answer, "yes", id: "first", style: "display:none;" %-->
    <input id="first" name="inquiry[answer]" style="display:none;" type="radio" value="yes" />
    <label for="first" class="btn  btn-large">YES</label>

    <!--%= f.radio_button :answer, "abstention", id: "second",  style: "display:none;" %-->
    <input id="second" name="inquiry[answer]" style="display:none;" type="radio" value="abstention" />
    <label for="second" class="btn  btn-large">Abs.</label>

    <!--%= f.radio_button :answer, "no", id: "third", style: "display:none;" %-->
    <input id="third" name="inquiry[answer]" style="display:none;" type="radio" value="no" />
    <label for="third" class="btn  btn-large">NO</label>
  </div>


<br/><br/>

  <div class="field">
    <%= f.label :remark %>
    <%= f.text_field :remark, class: "input-xlarge" %>
  </div>

  <div class="actions">
    <%= f.submit 'Vote', class: 'btn btn-large' %>
  </div>

  <div id="error_invisible">
    <% if @inquiry.errors.any? %>
        <!--% @inquiry.errors.full_messages.each do |msg| %-->
          <%= flash[:error] = 'Please make a choice!' %>
        <!--% end %-->
    <% end %>
  </div>


<% end %>  <!--   FORM END -->
  
<!--p>Session: <%= session[:current_user_id] %></p-->
