<%= form_for(@inquiry) do |f| %>

<input type="hidden" name="question_id" value="<%= @question.id %>">

<!--%= f.hidden_field(:question_id, @question_id) %-->

<h4><%= @question.poke %></h4>
<p>
  <% if @question.condition != '' && @question.condition %>
    <p>under the following conditions:</p>
    <p><%= simple_format(@question.condition) %></p>
  <% end %>
</p>
  


<div class="btn-group" data-toggle="buttons">
  <label for="first" class="btn btn-default btn-lg btn-custom">
    <input type="radio" name="inquiry[answer]" id="first" value="yes" > YES
  </label>
  <label for="second" class="btn btn-default btn-lg btn-custom">
    <input type="radio" name="inquiry[answer]" id="second" value="abstention" > ABS
  </label>
  <label for="third" class="btn btn-default btn-lg btn-custom">
    <input type="radio" name="inquiry[answer]" id="third" value="no" > NO
  </label>
</div>



<br/><br/>

  <div class="input-group">
    <!--%= f.label :remark %-->
    <%= f.text_field :remark, class: "form-control", placeholder: "Remarks" %>
  </div>

  <!--div class="actions spacer-small">
      <%= f.submit 'Vote', class: 'btn btn-default btn-lg' %>
  </div-->


  <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg spacer-small") do %>
    <i class="glyphicon glyphicon-ok"></i> Vote
  <% end %> 


  <div id="error_invisible">
    <% if @inquiry.errors.any? %>
        <!--% @inquiry.errors.full_messages.each do |msg| %-->
          <%= flash[:error] = 'Please make a choice!' %>
        <!--% end %-->
    <% end %>
  </div>


<% end %>  <!--   FORM END -->
  

<!--p>Session: <%= session[:current_user_id] %></p-->
